* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root , html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    color: #000000;
    overflow-x: hidden;
}
header {
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.nav-item {
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: 1px 1px 1px hsl(0, 0%, 0%);
}
main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    text-align: justify;
}
.pad {
    padding: 1.5rem;
}
.primary-navigation {
    list-style: none;
}

.mobile-menu-toggle {
    display: none;
}
@media (max-width: 47.5rem) {
    .primary-navigation {
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 20%;
        background: hsl(218 100% 31% / .8);
        flex-direction: column;
        padding: 6em 0 0 2em;
        -webkit-backdrop-filter: blur(.2rem);
        backdrop-filter: blur(.2rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    .mobile-menu-toggle {
        display: block;
        z-index: 9999;
        position: fixed;
        width: 2em;
        aspect-ratio: 1;
        top: 2.4rem;
        right: 1.25rem;
        border: 0;
        background-color: transparent;
        background: url("./assets/images/bars-light-solid.svg") no-repeat 50% 50%;
        background-repeat: no-repeat;
        }

    .mobile-menu-toggle[aria-expanded="true"] {
        background-image: url("./assets/images/xmark-light-solid.svg");
    }
}

.logo {
    margin: 2rem 0;
    font-size: 2em;
    color: hsl(218 100% 31%);
    min-width: max-content;
    text-transform: uppercase;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    text-transform: uppercase;
}
.flex {
    display: flex;
    gap: var(--gap, 2em);
}

.sr-only {
    display: none;
}
