* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root , html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(45deg, rgba(2,15,34,1) 0%, rgb(0, 0, 0) 100%);
    color: hsl(0, 0%, 90%);
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
}

.nav-item {
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: 1px 1px 1px hsl(0, 0%, 0%);
}

main {
    margin: 0 auto;
    max-width: 80%;
    font-family: "Poppins";
    line-height: 1.5;
}

section {
    margin-top: 3rem;
}

section p {
    padding: 0 1rem;
    text-align: justify;
}
.logo {
    margin: 1rem 0;
    min-width: max-content;
    
}

.nav-item a {
    color: hsl(192, 63%, 30%);
    padding-bottom: 0.2em;
    text-decoration: none;
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    background-size: 0% 0.1em;
    text-transform: uppercase;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
    }
    .nav-item a:hover,
    .nav-item a:focus,
    .nav-item a:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
    }

.primary-nav-icons {
    padding-top: 0.25rem;
}

.flex {
    display: flex;
    gap: var(--gap, 2em);
}

.sr-only {
    display: none;
}

h2 {
    margin-bottom: 1rem;
}

.normal {
    font-size: 2em;
    text-transform: uppercase;
    font-family: "Inter";
}

.dark {
    color: blue;
}

.card-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card {
    display: flex;
    flex-flow: column;
    padding: 1.5rem;
    border: 1px solid hsl(211, 31%, 23%);
    border-radius: .8rem;
}
.card img {
    border: 2px solid hsl(211, 31%, 33%);
    margin: 1.5rem auto;
    width: 94%;

}
.gradient {
    background: linear-gradient(45deg, rgba(2,15,34,1) 0%, rgba(14,52,60,1) 100%);
    
}

.glow {
    color: hsl(192, 63%, 30%)
}

.pad {
    padding: 1.25rem;
}

.primary-navigation {
    list-style: none;
}

i {
    margin-right: 1.5rem;
    color: hsl(0, 0%, 85%);
    transition: 0.3s;
}

i:hover {
    color: hsl(192, 63%, 30%)

    
}

.no-margin {
    margin: 0;
}

.bt-mg {
    margin-bottom: 3rem;
}

.mobile-menu-toggle {
    display: none;
}

footer {
    margin: 1rem 0;
    text-align: center;
}

@media (max-width: 47.5rem) {

    main {
        min-width: 100%;
    }
    .primary-navigation {
        background: linear-gradient(45deg, rgba(2,15,34,.8) 0%, rgba(14,52,60,.8) 100%);
        z-index: 1000;
        position: fixed;
        font-size: 1.2em;
        inset: 0 0 0 15%;
        flex-direction: column;
        padding: 6em 0 0 2em;
        -webkit-backdrop-filter: blur(.2rem);
        backdrop-filter: blur(.2rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-menu-toggle {
        display: block;
        z-index: 9999;
        position: absolute;
        width: 2em;
        aspect-ratio: 1;
        top: 1.35rem;
        right: 1.25rem;
        border: 0;
        background-color: transparent;
        background: url("./assets/images/g-menu.svg") no-repeat 50% 50%;
        background-repeat: no-repeat;
        }

    .mobile-menu-toggle[aria-expanded="true"] {
        background-image: url("./assets/images/g-close.svg");
    }

    i {
        color: hsl(0, 0%, 90%);
    }

    .primary-nav-icons {
        padding: 0.8rem 0;
    }

    .card-con {
        grid-template-columns: 1fr;
    }

}   
