* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: hsl(0, 0%, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.header-right {
    display: none;
}
.about {
    margin-top: 2em;
}
section {
    margin: 0 1em;
}

.nav-item {
    display: inline-block;
    margin-left: 2em;
}

.project-screenshots {
    width: 99%;
}
.bio-photo {
    width: 10%;
}

.footer-icons {
    margin: 0;
}

.footer-icons a {
    color: hsl(0, 0%, 50%)
}

.footer-icons a:hover {
    color: hsl(39, 100%, 50%);
}
@media (min-width: 1280px) {
    body {
        font-size: 12pt;
    }
    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 1280px;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 10em;
        margin-bottom: 8em;
    }
    .header-right {
        display: flex;
        align-items: center;
    }
    .project-screenshots {
        width: 40rem;
    }
    .mono {
        text-align: left;
    }
}