.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas: 
            'header header header'
            'nav nav nav'
            'main main main'
            'projects projects projects'
            'footer footer footer';
    margin: 0 auto;
    width: 1242px;
    row-gap: 1.5rem;
}
main {
    display: grid;
    grid-template-columns: 413px 413px 413px;
    gap: 1rem;
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
.about {
    grid-column: span 3;
}
.projects {
    grid-column: span 3;
}
footer {
    grid-area: footer;
}
