* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root , html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(
  45deg,
  hsl(197deg 100% 2%) 0%,
  hsl(195deg 100% 2%) 11%,
  hsl(194deg 100% 3%) 22%,
  hsl(193deg 100% 3%) 33%,
  hsl(192deg 100% 3%) 44%,
  hsl(191deg 100% 4%) 56%,
  hsl(190deg 100% 4%) 67%,
  hsl(189deg 100% 4%) 78%,
  hsl(188deg 100% 5%) 89%,
  hsl(188deg 100% 5%) 100%
);
    color: hsl(0, 0%, 90%);
    overflow-x: hidden;
    font-family: sans-serif;
}
a, a:visited, a:active {
    color: orange;
}
a:hover {
    color: hsl(192, 63%, 30%);
    text-decoration: none;
}
hr.split {
    height: 1px;
	border: 0;
	/* box-shadow: 0 10px 10px -10px #8c8c8b inset; */
    background-image: -moz-linear-gradient(left, #404040, #2f2f2f, #1e1e1e);
}
header {
    background-color: hsl(0, 0%, 0%);
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
}

.nav-item {
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: 1px 1px 1px hsl(0, 0%, 0%);
}

main {
    margin: 0 auto;
    max-width: 72%;
    line-height: 1.5;
}
article {
    margin-top: 1rem;
}
section p {
    padding: 1rem 1rem 2rem;
    text-align: justify;
}
.logo {
    margin: 1rem 0;
    min-width: max-content;
}
.nav-item a {
    color: hsl(192, 63%, 30%);
    padding-bottom: 0.2em;
    text-decoration: none;
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    background-size: 0% 0.1em;
    text-transform: uppercase;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
    }
    .nav-item a:hover,
    .nav-item a:focus,
    .nav-item a:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
    }

.primary-nav-icons {
    padding-top: 0.25rem;
}

.flex {
    display: flex;
    gap: var(--gap, 2em);
}

.sr-only {
    display: none;
}

.project-link, .project-link:visited {
    color: hsl(192, 63%, 30%);
    text-decoration: none;
}
.tech {
    font-size: 0.9em;
}
.normal {
    font-size: 2em;
    text-transform: uppercase;
    font-family: "Inter";
}

.dark {
    color: blue;
}

.card-con {
    margin: 1rem 0 3rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card {
    display: flex;
    flex-flow: column;
    padding: 1.5rem;
    border: 1px solid hsl(211, 31%, 23%);
    border-radius: .8rem;
}
.card img {
    display: flex;
    border: 2px solid hsl(211, 31%, 33%);
    margin: 1.5rem auto;
    width: 100%;
    transition: 250ms;
}
.card img:hover {
    transform: translateY(-10px) scale(1.5);
}
.gradient {
    background: linear-gradient(45deg, rgba(2,15,34,1) 0%, rgba(14,52,60,1) 100%);
    
}

.glow {
    color: hsl(192, 63%, 30%);
    text-transform: uppercase;
}

.pad {
    padding: 1.25rem;
}

.primary-navigation {
    list-style: none;
}

i {
    margin-right: 1.5rem;
    color: hsl(0, 0%, 85%);
    transition: 0.3s;
}

i:hover {
    color: hsl(192, 63%, 30%)
}

.no-margin {
    margin: 0;
}

.bt-mg {
    margin-bottom: 3rem;
}

.mobile-menu-toggle {
    display: none;
}

footer {
    margin: 1rem 0;
    text-align: center;
}

@media (max-width: 47rem) {

    main {
        min-width: 100%;
    }
    .primary-navigation {
        background: linear-gradient(45deg, rgba(2,15,34,.8) 0%, rgba(14,52,60,.8) 100%);
        z-index: 1000;
        position: fixed;
        font-size: 1.2em;
        inset: 0 0 0 15%;
        flex-direction: column;
        padding: 6em 0 0 2em;
        -webkit-backdrop-filter: blur(.2rem);
        backdrop-filter: blur(.2rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-menu-toggle {
        display: block;
        z-index: 9999;
        position: absolute;
        width: 2em;
        aspect-ratio: 1;
        top: 1.45rem;
        right: 1.45rem;
        border: 0;
        background-color: transparent;
        background: url("/assets/images/g-menu.svg") no-repeat 50% 50%;
        background-repeat: no-repeat;
        }

    .mobile-menu-toggle[aria-expanded="true"] {
        background-image: url("/assets/images/g-close.svg");
    }

    i {
        color: hsl(0, 0%, 90%);
    }

    .primary-nav-icons {
        padding: 0.8rem 0;
    }

    .card-con {
        grid-template-columns: 1fr;
    }

}   
