@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Poppins', sans-serif;
    --light: rgb(222, 222, 222);
    --dark: rgb(32, 32, 32);
    scroll-behavior:smooth;
}
body {
    background-color: rgb(32, 32, 32);
    color: #fff;
}
header {
    background-color: var(--dark);
}
nav {
    background-color: var(--dark);
    text-align: right;
}
section {
    padding: 1.5rem;
}
nav ul {
    list-style-type: none;
}
nav li {
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    padding: 0 20px;
}
footer {
    padding: 30px;
    color: white;
    position: relative;
}
.copy {
    font-size: 12px;
    margin-top: 20px;;
    padding: 2px 15px;
    position: absolute;
    bottom: 0;
    right: 20px;
}

/* CSS animation - text slides in from left side of screen  */
h2 {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 500%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.grid-item {
    border-radius: 10px;
    padding: 1.5rem;
}
/* .grid-item:nth-child(even) {
    background-color: var(--light);
}
.grid-item:nth-child(odd) {
    background-color: var(--dark);
} */
h1 {
    color: rgb(30, 144, 255);
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}
h2 {
    color: rgb(30, 144, 255);
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}

a {
    color: orangered;
    text-decoration: none;
}
a:hover {
    color: rgb(30, 144, 255);
}
li a {
    font-weight: bold;
    text-transform: uppercase;
}
nav a {
    color: #fff;
}
.outline {
    border: 1px solid var(--light);
    margin-bottom: 2rem;
}
