:root {
    font-family: 'Poppins';
    font-size: 12pt;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 10px;
    background-color: hsl(240, 100%, 10%);
    color: hsl(247, 19%, 82%);
}

h1 {
    margin-bottom: 16px;
}
h2, h3 {
    line-height: 1.2;
 }
.logo {
    min-width: 255px;
}

.logo h1 {
    color: hsl(200, 100%, 40%);
    line-height: 1;
}
.logo span {
    color: hsl(39, 100%, 50%);
}
.logo h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: hsl(39, 100%, 50%);
}

.logo .white {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-size: .8em;
}

.nav-item a {
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(39, 100%, 50%);
    border: 2px solid transparent;
    transition: color .3s ease-in-out, border .3s ease-in-out;
}

.nav-item a:hover {
    border-bottom: 2px solid hsl(39, 100%, 50%);
    color: hsl(0, 0%, 100%);
}

ul {
    list-style: disc;
}
li {
    padding-left: 10px;
    list-style-position: inside;
}
.icons {
    width: max-content;
    margin: 1em 0 1em 3em;
}

i {
    margin: 10px;
    transition: color .3s ease-in-out;
}

a, a:visited {
    color: hsl(39, 100%, 50%);
}
.icons a {
    color:hsl(0, 0%, 100%);
}
.icons a:hover {
    color: hsl(39, 100%, 50%);
}

.mono {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1em;
    color: hsl(39, 14%, 52%);
}
.copy {
    font-size: .8em;
    text-align: center;
    padding-bottom: 3em;
}
.card-item {
    border: 1px solid hsl(0, 0%, 75%);
    margin: 0 10px;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 10px;
    max-width: 400px;
}
.card-head {
    color: hsl(139, 65%, 32%);
}
.location {
    font-size: 16px;
    color: hsl(182, 100%, 42%);
}
/* .preload {
    transition: none !important;
} */